<%= form_for @comment, url: weekend_event_comments_path do |f| %>
	<%= render 'shared/error_messages', :object=>f.object %>
	
	<%= f.hidden_field :user_id, :value => @comment.user_id %>
	
	<div>
		<%= f.label :content %>
		<%= f.text_area :content, size: "30x4"%>
	</div>
	
	<div>
		<%= f.submit 'Save', :class => "btn btn-danger" %>
	</div>
	
<% end %> 