<% provide :title, 'Edit Comment' %>
<h1>Edit Comment</h1>
<%= form_for @comment, url: weekend_event_comment_path(id: @comment.id) do |f| %>
	<%= render 'shared/error_messages', :object=>f.object %>
	
	<%= f.hidden_field :duser_id, :value => @comment.duser_id %>
	
	<div>
		<%= f.label :content %>
		<%= f.text_area :content, size: "30x4"%>
	</div>
	
	<div>
		<%= f.submit 'Save' %>
	</div>
	
<% end %> 