<div>
	<% @user.comments.each do |c| %>
	<li>
		<%= "Event ID: " %> <%= c.event_id %>
		| <%= c.content %>
		( <%= link_to 'Edit', edit_weekend_event_comment_path(id: comment.id, event_id:params[:id]) %>
		  | <%= link_to 'Delete', weekend_event_comments_path(id: comment.id, event_id:params[:id]), :method => :delete, :data=>{:confirm=>'Are you sure?'} %> )
	</li>
	<% end %>
</div>