<% provide :title, 'Help Out!' %>

<h1>Sign up to help out.</h1>
<%= form_for @role, url: weekend_event_role_path(weekend_id: Event.find(@role.event_id).weekend_id, event_id: @role.event_id, id: @role.id) do |f| %>
	<%= render 'shared/error_messages', :object=>f.object %>
	
	<%= f.hidden_field :duser_id, :value => @role.duser_id %>
	
	<div>
		<%= f.label :will_setup %>
		<%= f.check_box :will_setup %>
	</div>
	
	<div>
		<%= f.label :will_cleanup %>
		<%= f.check_box :will_cleanup %>
	<div>
	
	<div>
		<%= f.submit 'Save' %>
	</div>
<% end %> 