<%= form_for @suggestion do |f| %>
	<%= render 'shared/error_messages', :object=>f.object %>
	
	<div>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	
	<div>
			<%= f.label :content %>
	</div>
	<div>
			<%= f.text_area :content, size: "75x10"%>
	</div>
		
	<div>
		<%= f.submit 'Save' %>
	</div>
	
<% end %> 