<% provide :title, @weekend.date.to_s %>

<div style="padding-top:10px">
<ol class="breadcrumb">
<li><%= link_to 'All Weekends', root_path %></li>
<li class="active"><%= @weekend.date.to_s %>
</ol>
</div>

<h1>Weekend of <%= @weekend.date %></h1>

<div>
<%= render @events %>
</div>

<br />

<% if current_duser.is_member %>
<%= link_to 'New Event', new_weekend_event_path(params[:id]), :class => "btn"%>
<% end %>